<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Example Flask App Login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
</head>
<body>
<h1>Welcome to Flask App</h1>
<p>This is example of how to develpe Flask application!</p>
<p>This is quick example!</p>
<table width="500px" border="0px" cellspacing="0px" cellpadding="5px">
<tr>
	<td>Email:</td><td><input type="text" name="email" id="email" /></td>
</tr>
<tr>
	<td>Password:</td><td><input type="password" name="password" id="password" /></td>
</tr>
<tr>
	<td></td><td><input type="button" value="Login" onClick="login()" /></td>
</tr>
</table>
<script>
	function login()
	{
		var valid=true;
		if($("#email").val()=="")
		{
			alert("Please enter email!");
			valid = false;
			$("#email").focus();
			return false;
		}
		else
		{
			var email = $("#email").val();
		}

		if($("#password").val()=="")
		{
			alert("Please enter password!");
			valid = false;
			$("#password").focus();
			return false;
		}
		else
		{
			var password = $("#password").val();
		}

		if(valid)
		{
			$.post("/login",{email:email,password:password},function(data){
				if(data=="0")
				{
					alert("Invalid email or password!")
				}
				else
				{
					window.location.href = "/home";
				}
			});
		}

	}
</script>
</body>
</html>