<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Example Flask App</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<h1>Welcome to Flask App</h1>
<p>This is example of how to develpe Flask application!</p>
<p>This is quick example!</p>
<form method="post" action="/student-update">
<input type="hidden" name="id" value="{{data[0]}}" />
<table width="500px" border="0px" cellspacing="0px" cellpadding="5px">
<tr><td>Name:</td><td><input type="text" name="name" value="{{data[1]}}" maxlength="30" required /></td></tr>
<tr><td>Address:</td><td><input type="text" name="address" value="{{data[2]}}" maxlength="200" required /></td></tr>
<tr><td>Standard:</td><td><input type="number" name="standard" value="{{data[3]}}" maxlength="2" required /></td></td></tr>
<tr><td></td><td><input type="submit" value="Save" />&nbsp;<input type="button" value="Cancel" onClick="history.back()" /></td></tr>
</table>
</form>
</body>
</html>